.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  padding: 16px 30px;
  color: white;
  border: none;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

.nav-title {
  font-weight: 800px;
  font-size: 35px;
}

.navbar {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 40px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}
